/* Colors */
/* Menu */
/* Navigation */
/* Input colors */
body {
  background-color: #ecf0f1;
  color: #2c3e50;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  width: 100%; }

a,
a:visited {
  color: #34495e; }

a:hover,
a:focus {
  color: #2c3e50; }

.main {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  margin-top: 90px;
  padding-bottom: 19px;
  padding-top: 19px;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 1200px) {
    .main {
      width: 1170px; } }
  @media (min-width: 992px) {
    .main {
      width: 970px; } }
  @media screen and (min-width: 768px) {
    .main {
      max-width: 730px; } }
